.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.al.active,
.ak.active,
.az.active,
.ar.active,
.ca.active,
.co.active,
.ct.active,
.de.active,
.dc.active,
.fl.active,
.ga.active,
.hi.active,
.id.active,
.il.active,
.in.active,
.ia.active,
.ks.active,
.ky.active,
.la.active,
.me.active,
.md.active,
.ma.active,
.mi.active,
.mn.active,
.ms.active,
.mo.active,
.mt.active,
.ne.active,
.nv.active,
.nh.active,
.nj.active,
.nm.active,
.ny.active,
.nc.active,
.nd.active,
.oh.active,
.ok.active,
.or.active,
.pa.active,
.ri.active,
.sc.active,
.sd.active,
.tn.active,
.tx.active,
.ut.active,
.vt.active,
.va.active,
.wa.active,
.wv.active,
.wi.active,
.wy.active {
  fill: #0d7ef9;
}

.active {
  fill: #0d7ef9;
}
