.App {
  text-align: left;
}

.active {
  fill: #0d7ef9;
}

.visits-title {
  margin-top: 48px;
  margin-bottom: 8px;
}

.visits-select,
.visits-title {
  margin-left: 160px;
}

.visits-select {
  height: 30px;
  width: 150px;
}
